{% if is_admin %}
После команды <i>/admin</i> у тебя появляются функции: <i>"Сгенерировать ключ"</i>, <i>"Создать мероприятие"</i> и <i>"Список мероприятий"</i>.

1) 🔑 <b>Сгенерировать ключ</b> - команда генерирует ключ, с которым можно поделиться с другим юзером, чтобы сделать его админом.

- все ключи удаляются каждый день.
- нажимая <i>"поделиться"</i> выбери пользователя и отправь ему ссылку.
- пользователь должен перейти по ней и отправить заготовленный текст.

2) 📆 <b>Создать мероприятие.</b> Инструкция: следуй интуиции.

3) 📋 <b>Список мероприятий.</b> Выбери мероприятие из списка. (удаление, добавление уведомлений и др.)

Команды:

/stat - микро-статистика
...

{% else %}
После команды <i>/start</i> ты будешь получать уведомления о ближайших мероприятиях.
{% endif %}
{% if is_debug %}<b>Внимание:</b> бот в Debug-режиме.{% endif %}