🚫 <b>Нет.</b> Сообщение должно быть в формате:

{{ event_template }} 

<b>Пример:</b>

<b><i>{{ event.date }}</i></b>
<b>{{ event.name }}</b>
<i>{{ event.text }}</i>

Нажми /cancel чтобы отменить создание.